
{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <title>3 Ички касалликлар</title>
  </head>

  <body class="bg-dark">
    <div class="mx-5 ">

      <form  class="" action="" method="POST">{% csrf_token %}
        

        <div class="bg-info mx-5 mt-5 rounded shadow text-center text-light p-4" style="min-height: 600px;">
            
            <h2 class="mt-3 text-center ">Тошкент Тиббиёт академияси, 3-сон ички касалликлар кафедраси</h2>
           
            <br>
            <hr>
            <div class="row">

              <div class="col-md-6">     
              </div>

              <div class="col-md-6">
          </div>
          <div class="col-md-12">
              <h1>ОСТЕОАРТРИТНИНГ ЭРТА ДАВРЛАРИДА COMP МИҚДОРИГА КЎРА ДАВОНИНГ ЭЛЕКТРОН ДАСТУРИ</h1>
              <br><a href="/main" class="btn btn-lg btn-warning">Бошлаш</a>
              <br><br><img style="width: 140px;" src="{% static 'main/Unknown.png' %}" alt=""><br><br><br>
              <p>Тузувчилар: Буранова Сагдияна Насуруллаевна, Ахмедов Халмурад Садуллаевич</p>
          </div>
          </div>

    
    
      </div>
    
    
    </form>



   
  </div>

    
    
    
    
    
    
   
    
    
    
    
    <footer class="bg-light text-center text-lg-start">


    </footer>
      
    
    <script src="{% static 'main/jquery-3.2.1.slim.min.js' %}"></script>
      <script src="{% static  'main/popper.min.js' %}"></script>
      <script src="{% static 'main/bootstrap.min.js' %}"></script>
  </body>
</html>
